
/* Анимации на основе состояний */

/* 1 */
table {
    transition: transform 0.2s;
}
table:hover {
    transform: scale(1.05);
}

/* 2 */
h2 {
    transition: color 0.2s;
    transition: text-shadow 0.2s;
}
h2:hover {
    color: green;
    text-shadow: black 1px 1px;    
}

/* 3 */
input {
    outline: none;
    transition: border-color 0.2s;
    transition: box-shadow 0.2s;
}
input:focus {
    border-color: lightgreen;
    box-shadow: 0 0 5px green;
}

/* @keyframes анимации */

/* 1 */
@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
table {
    animation: slide-in 1s;
}

/* 2 */
@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-2px);
    }
}
input[type=submit] {
    animation: bounce 0.3s alternate infinite cubic-bezier(.2, .65, .6, 1);
}

/* 3 */
@keyframes drop-in {
    from {
      transform: rotate(-30deg) translateY(-100%);
        opacity: 0;
    }
    to {
        transform: rotate(0deg) translateY(0%);
        opacity: 1;
    }
}
h2 {
    animation: drop-in 1s;
}
